
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
}
.conversationStarters{
    color: grey;
}
.conversationStartersDark{
    color: grey;



}
.conversationStartersOptions{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 3rem;
    width: 75%;
    color: grey;
}
.conversationStarterOption{
    padding: 2rem;
    width: 15rem;
    color: grey;
    border-radius: 50px;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.conversationStarterOption:hover{

    color: rgb(223, 124, 88);

}

.containerDark {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
    background-color: #181818;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
    width: 100%;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    /* background: #f2f2f2; */
    /* background-color: red; */
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 120px;
    margin-right: 120px;

}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 1;
}


